@model SacramentPlanner.Models.Meeting

@{
    ViewData["Title"] = "Meeting Details";
}

<h1>Meeting Details</h1>

<hr />

<div class="p-5 block" style="border: 1px black solid;">
    <div class="row mb-md-4">
        <div class="col-md-12 d-flex justify-content-center">
            <h1>
                @Html.DisplayFor(model => model.Congregation)
            </h1>
        </div>
    </div>
    <div class="row mb-md-4">
        <div class="col-md-12 d-flex justify-content-center">
            <h3>
                @Html.DisplayFor(model => model.MeetingDate)
            </h3>
        </div>
    </div>

    <div class="row mb-md-4">
        <div class="col-md-12 px-md-5 d-flex justify-content-center blockquote">
            @ViewData["Quote"]
        </div>
    </div>

    <div class="row mb-md-4">
        <div class="col-md-4 d-flex justify-content-end">
            @Html.DisplayNameFor(model => model.Conducting)
        </div>
        <div class="col-md-4"><hr style="border-top: 1px black dotted"></div>
        <div class="col-md-4 ps-md-3">
            @Html.DisplayFor(model => model.Conducting)
        </div>
    </div>

    <div class="row mb-md-4">
        <div class="col-md-4 d-flex justify-content-end">
            @Html.DisplayNameFor(model => model.OpeningHymn)
        </div>
        <div class="col-md-4"><hr style="border-top: 1px black dotted"></div>
        <div class="col-md-4 ps-md-3">
            @Html.DisplayFor(model => model.OpeningHymn)
        </div>
    </div>

    <div class="row mb-md-4">
        <div class="col-md-4 d-flex justify-content-end">
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </div>
        <div class="col-md-4"><hr style="border-top: 1px black dotted"></div>
        <div class="col-md-4 ps-md-3">
            @Html.DisplayFor(model => model.OpeningPrayer)
        </div>
    </div>

    <div class="row mb-md-4">
        <div class="col-md-12 d-flex justify-content-center">
            <h2>Aaronic Priesthood will Pass the Sacrament</h2>
        </div>
    </div>

    <!--div class="row mb-md-4">
        <div class="col-md-6">
            Oh God, the Eternal Father ...
        </div>
        <div class="col-md-6">
            Oh God, the Eternal Father ...
        </div>
    </div-->

    <div class="row mb-md-4">
        <div class="col-md-4 d-flex justify-content-end">
            @Html.DisplayNameFor(model => model.SacramentHymn)
        </div>
        <div class="col-md-4"><hr style="border-top: 1px black dotted"></div>
        <div class="col-md-4 ps-md-3">
            @Html.DisplayFor(model => model.SacramentHymn)
        </div>
    </div>

    <div class="row mb-md-4">
        <div class="col-md-4 d-flex justify-content-end">
            Speakers
        </div>
        <div class="col-md-4"><hr style="border-top: 1px black dotted"></div>
        <div class="col-md-4 ps-md-3">
            @{
                if (ViewData.Count() > 1)
                {
                    foreach (var item in ViewData["Speakers"] as IEnumerable<SacramentPlanner.Models.Speaker>)
                    {
                        @item.Name @:: @item.Subject
                        <br />
                    }
                }
                else
                {
                    <div>No speakers have been selected for todays meeting.</div>    
                }
            }
        </div>
    </div>

    <div class="row mb-md-4">
        <div class="col-md-4 d-flex justify-content-end">
            @Html.DisplayNameFor(model => model.ClosingHymn)
        </div>
        <div class="col-md-4"><hr style="border-top: 1px black dotted"></div>
        <div class="col-md-4 ps-md-3">
            @Html.DisplayFor(model => model.ClosingHymn)
        </div>
    </div>

    <div class="row mb-md-4">
        <div class="col-md-4 d-flex justify-content-end">
            @Html.DisplayNameFor(model => model.ClosingPrayer)
        </div>
        <div class="col-md-4"><hr style="border-top: 1px black dotted"></div>
        <div class="col-md-4 ps-md-3">
            @Html.DisplayFor(model => model.ClosingPrayer)
        </div>
    </div>

</div>

<div class="row mt-5">
    <div class="form-group d-flex justify-content-center align-content-center">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary me-3">Edit</a>
        <a asp-action="Index" class="pt-1">Back to List</a>
    </div>
</div>