@model IEnumerable<SacramentPlanner.Models.Meeting>

@{
    ViewData["Title"] = "Meetings";
}

<h1>Meetings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Congregation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conducting)
            </th>
            <th>
                Prayers
            </th>
            <th>
                Hymns
            </th>
            <th>
                Speakers
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Congregation)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Conducting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningPrayer)
                <br />
                @Html.DisplayFor(modelItem => item.ClosingPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningHymn)
                <br />
                @Html.DisplayFor(modelItem => item.SacramentHymn)
                <br />
                @{
                    string intermediate = item.IntermediateHymn;
                    if (intermediate != null)
                    {
                        @Html.DisplayFor(modelItem => item.IntermediateHymn)
                        <br />
                    }
                }
                @Html.DisplayFor(modelItem => item.ClosingHymn)
            </td>
            <td>@{
                    if (ViewData[item.Id.ToString()] != "none")
                    {
                        foreach (var speaker in ViewData[item.Id.ToString()] as IEnumerable<SacramentPlanner.Models.Speaker>)
                        {
                            // item.Id.ToString()
                            <span>@speaker.Name</span><br />
                        }
                    }
                    else
                    {
                        <span>No assigned speakers</span>
                    }
                }
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>